# Distribution / packaging
.Python
.DS_Store
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
.idea/
*/.DS_Store/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

/venv/
/notebooks/.ipynb_checkpoints/
/answers/.ipynb_checkpoints/
.ipynb_checkpoints/
/.idea/
/data/fingerprints/train_data/
/data/fingerprints/split_dataset/
/answers/log*/
/notebooks/log*/
data/dga_decision_tree.pkl
data/dga_features_final_df.csv
data/dga_features_final_df_domain.csv
data/dga_model*
