# Distribution / packaging
.Python
.DS_Store
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
.idea/
*/.DS_Store/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

/venv/
/notebooks/.ipynb_checkpoints/
/answers/.ipynb_checkpoints/
.ipynb_checkpoints/
/.idea/

